{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Handlers{% endblock %}</h1>
  <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
{% endblock %}

{% block content %}
  {% for handler in handlers %}
    <article class="Handlers">
      <header>
        <div>
          <h1>School : {{ handler['school_name'] }} with school id : {{ handler['school_id'] }}</h1>
          <div class="about">Handler Information</div>
          {% if handler['handler_activated'] == None or handler['handler_activated'] == 'F'%}
            <div class="about">Name: {{ handler['handler_name'] }}, Last name : {{ handler['handler_surname'] }} and account is not activated.</div>
          {% else %}
            <div class="about">Name: {{ handler['handler_name'] }} Last name : {{ handler['handler_surname'] }} and account is activated.</div>
          {% endif %}
        </div>
        {% if handler['handler_activated'] == None or handler['handler_activated'] == 'F'%}
            <form action="{{ url_for('hactivate', school_id=handler['school_id']) }}" method="post">
                <input type="submit" value="Activate" onclick="return confirm('Are you sure?');">
            </form>
        {% else %}
            <form action="{{ url_for('hdeactivate', school_id=handler['school_id']) }}" method="post">
                <input class="danger" type="submit" value="Deactivate" onclick="return confirm('Are you sure?');">
            </form>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}