{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
  {% if session.username and not session.husername %}
    <a class="action" href="{{ url_for('search') }}">Search for book</a>
    <a class="action" href="{{ url_for('my_profile', person_id=session['person_id']) }}">My profile</a>
    <a class="action" href="{{ url_for('books') }}">View all books</a>
  {% endif %}
  {% if session.husername %}
    <a class="action" href="{{ url_for('search') }}">Search for book</a>
    <a class="action" href="{{ url_for('handler_page') }}">Handle User Accounts</a>
    <a class="action" href="{{ url_for('add_book') }}">Add new book(s)</a>
    <a class="action" href="{{ url_for('books') }}">Go to main book page</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Change">
  </form>
{% endblock %}