{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
  {% if session.username and not session.husername %}
  <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
  {% endif %}
  {% if session.husername %}
  <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Change">
  </form>
{% endblock %}