{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if session.username and not session.husername and not session.is_admin %}
    <p></p>
    <div><a class="action" href="{{ url_for('search') }}">Search for book</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('my_profile', person_id=session['person_id']) }}">My profile</a></div>
    <p></p>
    <a class="action" href="{{ url_for('books') }}">Go to main book page</a>
    <p></p>
    <div><a class="action" href="{{ url_for('view_reservations') }}">View reservations</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('borrowing_history') }}">View borrowing history</a></div>
  {% endif %}
  {% if session.husername %}
    <p></p>
    <a class="action" href="{{ url_for('view_borrowings') }}">View active borrowings</a>
    <p></p>
    <a class="action" href="{{ url_for('books') }}">Go to main book page</a>
    <p></p>
    <a class="action" href="{{ url_for('register_return') }}">Register a return</a>
    <p></p>
    <a class="action" href="{{ url_for('register_borrow') }}">Register a borrowing</a>
    <p></p>
    <a class="action" href="{{ url_for('search') }}">Search for book</a>
    <p></p>
    <a class="action" href="{{ url_for('handler_page') }}">Handle User Accounts</a>
    <p></p>
    <a class="action" href="{{ url_for('add_book') }}">Add new book(s)</a>
    <p></p>
    <a class="action" href="{{ url_for('search_user') }}">Search user</a>
    <p></p>
    <div><a class="action" href="{{ url_for('overdue_returns') }}">View overdue returns</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('review_average') }}">View user ratings and averages</a></div>
  {% else %}
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query1') }}">View total borrowings per school</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query2') }}">Authors and borrowings from selected category</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query3') }}">Young teachers with the most borrowings</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query4') }}">Find least popular authors</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query5') }}">Handlers with same number of borrowings and more than 20 in the last year</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query6') }}">Find top 3 pairs of most common themes in borrowings</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_query7') }}">Find authors with less than 5 books written from the author with the most books written</a></div>
    <p></p>
    <div><a class="action" href="{{ url_for('admin_page') }}">Handle handler's accounts</a></div>
  {% endif %}
{% endblock %}