{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Reservations{% endblock %}</h1>
  {% if session.username and not session.husername %}
  <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
  {% endif %}
  {% if session.husername %}
  <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for reservation in reservations %}
    {% if reservation['is_over'] == 'F' %}
      <article class="Reservations">
        <header>
          <div>
              <div class="about">Reservation with id {{ reservation['reservation_id'] }}</div>
              <div class="about">make for book with ISBN {{ reservation['ISBN'] }}</div>
              <div class="about">on date {{ reservation['tdate'] }}</div>
              <div class="about">until date {{ reservation['rdate'] }}</div>
              <div class="about">by user {{ reservation['username'] }}</div>
              {% if reservation['is_active'] == 'T' %}
                <div class="about">and reservation is currently active.</div>
              {% else %}
                <div class="about">and reservation is currently inactive.</div>
              {% endif %}
          </div>
          <form action="{{ url_for('rdelete', reservation_id=reservation['reservation_id']) }}" method="post">
              <input class="danger" type="submit" value="Cancel my reservation" onclick="return confirm('Are you sure?');">
          </form>
        </header>
      </article>
    {% endif %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}