{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Active Borrowings{% endblock %}</h1>
    <div>
    {% if session.username and not session.husername %}
    <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
    {% endif %}
    {% if session.husername %}
    <a class="action" href="{{ url_for('main_page') }}">Main Page</a>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
  {% for borrowing in borrowings %}
    {% if borrowing['is_returned'] == 'F' %} 
      <article class="Borrowings"> 
      <header>
        <div>
          <h1>{{ borrowing['transaction_id'] }}</h1>
          <div class="about">By user : {{ borrowing['username'] }}</div>
          <div class="about">On : {{ borrowing['start_d'] }}</div>
          <div class="about">Until : {{ borrowing['return_date'] }}</div>
          <div class="about">For book with ISBN : {{ borrowing['ISBN'] }}</div>
        </div>
        {% if session.husername %}
            <form action="{{ url_for('make_return', transaction_id=borrowing['transaction_id']) }}" method="post">
                <input type="submit" value="Register return of this book." onclick="return confirm('Are you sure?');">
            </form>
        {% endif %}
      </header>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}